.categories-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}

.categories-list li {
    background-color: #f0f0f0;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.categories-list li:hover {
    background-color: #e0e0e0;
}

.categories-list li.active {
    background-color: #007bff; /* Example active color */
    color: white;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img.product-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 10px;
    background-color: white;
}

.product-card .product-body {
    padding: 15px;
}

.product-card .product-title {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #333;
    min-height: 50px; 
}
.product-body h3{
    text-decoration: none;
}
.product-card .product-price {
    font-size: 1.2em;
    color: #007bff;
    font-weight: bold;
}

.add-to-cart-button {
    background-color: #dc3545; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #c82333;
}

.add-to-cart-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745; 
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 1.1em;
}