.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-body {
    padding: 20px;
}
.product-body h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}
.product-body p {
    font-size: 1rem;
    margin-bottom: 10px;
}
.product-price {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.product-actions {
    margin-top: 20px;
}
.product-actions button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #f10505;
    color: #fff;
    border: none;
    cursor: pointer;
}

.hamada {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}